img {
  height: 450px;
  width: 45robertson0px;
}

.subsection .header{
  border-radius: 6px;
  text-align: center;
  align-items: center;
  text-decoration: overline;
  background-color: antiquewhite;
}

.flex-container {
  flex-direction: column;
}

.navigation {
  margin: 20x;
  display: flex;
  list-style: none;
  flex-flow: nowrap; 
  background: white;
  justify-content:center;
}

.navigation a{
  padding: 1em;
  text-decoration: none;
}

.item {
  width: auto;
  height: auto;
  border-radius: 5px;
  background: white;
  border: 2px solid darkslategray;
}

h1{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}